{% extends "base.html" %}
 
{% block page_content %}
{% if error %}
  <div id="error">{{ error }}</div>
{% endif %}
<form method="post">
   <h3>Login Here</h3>

   <label for="username">Username</label>
   <input type="text" placeholder="Enter your Username" id="username" name="username" required>

   <label for="password">Password</label>
   <input type="password" placeholder="Enter your Password" id="password" name="password" required minlength="6"><br />

   <a href="/register">Don't have a account yet?</a>

   <button type="submit">Log In</button>
</form>
{% endblock %}